//Colores
$rosa-fuerte:#e69eda;
$rosa:#fad7f4;
$blanco:#ffffff;


//Fondo
$fondo_fc:#72EBCF;
$fondo_in:#96D8FF;
$fondo_ig:#EB72E7;
$fondo_yt:#FF7C7C;
$fondo_tw:#C1C1C1;
$fondo_pi:#FFAC56;

$fondo_rojo:#B22222;
$fondo_verde:#ADFF2F;
$fondo_azul:#00BFFF;
$fondo_morado:#8A2BE2;
//Tonalidades
$light-fire:#CF645E;
$fire:#A23427;
$dark-fire:#541B14;

$light-green:#DEFD9F;
$greeen:#BFFC56;
$dark-green:#8EC536;

$light-deep:#86D5FC;
$deep:#57BBF9;
$dark-deep:#317195;

$light-violet:#B488E9;
$violet:#7D34DB;
$dark-violet:#4E1A8E;




